# product purchase prediction

In [1]:
import pandas as pd
file=pd.read_csv(r"C:\Users\gowri\Downloads\mini projects\Product Purchase Prediction\Social_Network_Ads.csv")
df=pd.DataFrame(file)

In [2]:
df

      User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510    Male  19.0          19000.0          0
1    15810944    Male  35.0          20000.0          0
2    15668575  Female  26.0          43000.0          0
3    15603246  Female  27.0          57000.0          0
4    15804002    Male  19.0          76000.0          0
..        ...     ...   ...              ...        ...
395  15691863  Female  46.0          41000.0          1
396  15706071    Male  51.0          23000.0          1
397  15654296  Female  50.0          20000.0          1
398  15755018    Male  36.0          33000.0          0
399  15594041  Female  49.0          36000.0          1

[400 rows x 5 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    float64
 3   EstimatedSalary  400 non-null    float64
 4   Purchased        400 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 15.8+ KB

In [4]:
df[df.duplicated()]

Empty DataFrame
Columns: [User ID, Gender, Age, EstimatedSalary, Purchased]
Index: []

In [5]:
df.drop(['User ID'],axis=1,inplace=True)

In [6]:
df

     Gender   Age  EstimatedSalary  Purchased
0      Male  19.0          19000.0          0
1      Male  35.0          20000.0          0
2    Female  26.0          43000.0          0
3    Female  27.0          57000.0          0
4      Male  19.0          76000.0          0
..      ...   ...              ...        ...
395  Female  46.0          41000.0          1
396    Male  51.0          23000.0          1
397  Female  50.0          20000.0          1
398    Male  36.0          33000.0          0
399  Female  49.0          36000.0          1

[400 rows x 4 columns]

In [7]:
df.corr()

                      Age  EstimatedSalary  Purchased
Age              1.000000         0.155238   0.622454
EstimatedSalary  0.155238         1.000000   0.362083
Purchased        0.622454         0.362083   1.000000

In [8]:

x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [9]:
from sklearn.preprocessing import StandardScaler,LabelEncoder
lb=LabelEncoder()
x["Gender"]=lb.fit_transform(x["Gender"])
scaler=StandardScaler()
x=scaler.fit_transform(x)

In [10]:
x

array([[ 1.02020406, -1.78179743, -1.49004624],
       [ 1.02020406, -0.25358736, -1.46068138],
       [-0.98019606, -1.11320552, -0.78528968],
       ...,
       [-0.98019606,  1.17910958, -1.46068138],
       [ 1.02020406, -0.15807423, -1.07893824],
       [-0.98019606,  1.08359645, -0.99084367]])

In [11]:
from sklearn.decomposition import PCA
pca=PCA(n_components=1)
pca_x=pca.fit_transform(x)
print(pca_x.shape)
print(x.shape)

(400, 1)
(400, 3)

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(pca_x,y,random_state=42)

In [13]:
from sklearn.naive_bayes import GaussianNB
classifier=GaussianNB()
classifier=classifier.fit(x_train,y_train)

In [14]:
y_pred=classifier.predict(x_test)

In [15]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report,roc_curve,roc_auc_score,auc
cons=confusion_matrix(y_test,y_pred)
print(cons)
acc=accuracy_score(y_test,y_pred)
print(acc)
c=classification_report(y_test,y_pred)
print(c)

[[57  6]
 [14 23]]
0.8
              precision    recall  f1-score   support

           0       0.80      0.90      0.85        63
           1       0.79      0.62      0.70        37

    accuracy                           0.80       100
   macro avg       0.80      0.76      0.77       100
weighted avg       0.80      0.80      0.79       100